{% extends "layout.twig" %}
{% block content %}

{% include "header.twig" %}

<section class="section main bloglist-page">
	{{widget('bloglistposts', 'bloglistposts1', {})|raw}}
</section>

{% endblock %}