<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
	
		{% include "head.twig" %}
		
		{% include basekit.headScript %}

	</head>

	<body id="image-fixed" class="{{ page.backgroundClass }} {{ site.colorSwatch }}">

		<div class="clearfix page-wrap">

			{% block content %}
			{% endblock %}

			{% include "footer.twig" %}

		</div>
		{% include basekit.bodyScript %}

		<script type="text/javascript">
			var headerHeight = document.getElementById("header-feature").offsetHeight,
				feature = $(".header-feature .widget.feature")[0],
				innerFeature = $(".header-feature .widget.feature .feature-bgimg")[0];
				
			window.onscroll = function emParallax() {
				if(typeof feature === 'object') {
					feature.style.height = ((window.pageYOffset / 20) * 60) + headerHeight + "px";
					innerFeature.style.height = ((window.pageYOffset / 20) * 60) + headerHeight + "px";
				}
			}

			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}();

		</script>

	</body>
</html>